#board {
    grid-template-columns: repeat(3, 50px);
    gap: 5px;
    margin-bottom: 10px;
}

.tile {
    width: 50px;
    height: 50px;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
